<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            font-family: Arial, sans-serif;
        }
        h1 {
            font-size: 2rem;
            color: #333;
        }
        p {
            font-size: 1rem;
            color: #333;
        }
        img {
            width: 100%;
            max-width: 400px;
        }
    </style>
</head>
<body>
    <h1>404 Not Found</h1>
    <p>Sorry, an error has occured, Requested page not found!</p>
    <div>
      <img src="/images/rem404.png" alt="404 Error Image">
    </div>
</body>
</html>